:root {
          /* --bg-button: #f0f0f0; */
          --bg-button: #5c5c5c;

          --border-button: 1px solid #000
}

.button {
          font-size: 7vw;
          background-color: var(--bg-button);
          border: none !important;
          border-right: var(--border-button);
          border-bottom: var(--border-button);
          outline: none;
          border-radius: 50%;
          color: #ffff;
          font-weight: 400;
          text-align: center;
}

.button:active {
          background-color: #ccc;
}

.button.double {
          grid-column: span 2;
}

/* .button.triple {
          grid-column: span 3;
} */

.button.operation {
          background-color: #fa8231;
          color: #ffff;
}

.button.topoperation {
          background-color: #f0f0f0;
          color: #000;
          align-items: center;
          display: flex;
          justify-content: center;
}

.button.topoperation.button:active {
          background-color: #f0f0f0;
          opacity: 0.5;
          color: #000;
}

.button.operation:active {
          background-color: #fa8231cc;
}

.btnzero {
          border-radius: 100px;
          text-align: left;
          padding-left: 10vw;
}