.calculator {
          height: 95vh;
          width: 100vw;
          border: none;
          overflow: hidden;
          background-color: #000;
          justify-content: center;
          align-self: center;
          box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.8);
          display: grid;
          gap: 14px;
          grid-template-columns: repeat(4, 20%);
          grid-template-rows: 25vh auto auto auto auto auto;

}