.display {
          grid-column: span 4;
          background-color: rgb(0, 0, 0);
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          padding: 20px;
          font-size: 6em;
          overflow: hidden;
          color: #fff;
}